@media screen and (min-width: 30em) {
    .ps-wrap {
        font-size: 18px;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 48em) {
    .ps-wrap {
        font-size: 16px;
        font-size: 1rem;
    }
}



/*==================================================================
    Tabs Components Styles
==================================================================*/
#direct-payment {
    margin: 0px !important;
}

/* tabs */
.tabs-pagseguro {
    width: 100%;
}

.tabs-pagseguro > .items {
    width: 100%;
    list-style: none;
    margin-left: 0;
}

.tabs-pagseguro > .items  > .item {
    position: relative;
    float: left;
    width: 33.33%;
    /* borders */
    border-color: #827e7e;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

@media (min-width: 767px){
    .tabs-pagseguro > .items  > .item {
        height: 90px;
    }
}

.tabs-pagseguro > .items  > .item:first-child {
    border-left-style: solid;
    border-left-width: 1.5px;
}

.tabs-pagseguro > .items  > .item:nth-child(2) {
    border-left-style: solid;
    border-left-width: 1.5px;
    border-right-style: solid;
    border-right-width: 1.5px;
}

.tabs-pagseguro > .items  > .item:last-child {
    border-right-style: solid;
    border-right-width: 1.5px;
}

/* init item active */
.tabs-pagseguro > .items  > .item.active > .action {
    color: #FFF;
    background-color: #4F7743;
}


.tabs-pagseguro > .items  > .item.active > .action::after {
    bottom: -10px; /* subtract the height unit this element */
    opacity: 1;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    transition-duration: .25s;
}
/* end item active */

.tabs-pagseguro > .items  > .item  > .action {
    padding: 1.5em 1em;
    height: 100%;
    outline: none;
}

.tabs-pagseguro > .items  > .item > .action::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #4F7743;

    /* style of animation */
    opacity: 0;
    bottom: -5px;
    -webkit-transition: all linear;
    -moz-transition: all linear;
    transition: all linear;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
}


/* action tab + btn-pagseguro */
.tabs-pagseguro > .items  > .item  > .action,
.btn-pagseguro {
    text-align: center;
    display: block;
    background-color: transparent;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.tabs-pagseguro > .items  > .item  > .action {
    color: #827e7e;
    box-shadow: none;
}

.tabs-pagseguro > .items  > .item  > .action:hover,
.tabs-pagseguro > .items  > .item  > .action:focus,
a.btn-pagseguro:hover,
a.btn-pagseguro:focus {
    text-decoration: none;
}

.tabs-pagseguro > .items  > .item  > .action:hover,
.tabs-pagseguro > .items  > .item  > .action:focus,
.btn-pagseguro:hover,
.btn-pagseguro:focus {
    color: #FFF;
    background-color: #4F7743;
}

.tabs-pagseguro > .items  > .item  > .action > .fa {
    display: block;
}

.tabs-pagseguro > .items  > .item  > .action > .name {
    display: block;
    margin-top: .5em;
}

/* tabs content */
.tabs-content {
    padding: 1em;
}
.title-tab {
    margin-bottom: 1em;
}
.tabs-content > .item-tab {
    /* active tab current */
    display: none;
    width: 100%;
}

.tabs-content > .item-tab.--current {
    display: block;
}

/* btn-pagseguro */
.btn-pagseguro {
    color: #4F7743;
    font-size: 1.2em;
    white-space: nowrap;
    vertical-align: middle;
    outline: inherit;
    cursor: pointer;
    padding: 1em 2em;
    background: none;
    background-image: none;
    border: 1px solid #4F7743;
    border-radius: 0px;
    /* fix native magento style - box-shadow */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.btn-pagseguro.--align-right {
    float: right;
    margin-top: 1.5em;
}

.btn-pagseguro:hover,
.btn-pagseguro:focus {
    /* fix native magento style - border hover button */
    border: 1px solid #4F7743;
}

/* list warning */
.list-warning {
    display: block;
    margin-top: 2em;
    width: 100%;
}

/* total value */
.credit-total > .control-label {
    font-size: 1.4em;
}

.credit-total > div > span {
    font-size: 1.15em;
    line-height: 34px;
    display: block;
    padding-top: 5px; /* diferece font-size value at label */
}


@media (max-width: 767px) {

    /* form inline custom config */
    .form-inline-childs > div{
        margin-bottom: 15px;
    }
}

.display-none {
    display: none;
}

.pagseguro-installments-table {
    max-width: 100%;
    margin-bottom: 1rem;
}

.pagseguro-installments-table table,
.pagseguro-installments-table th,
.pagseguro-installments-table td {
    border: 1px solid #DDD;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 2px !important;
}

.pagseguro-installments-table tr:nth-child(even) {
    background-color: #EEE;
}

/* loader */
@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg)}}@-moz-keyframes spin{100%{-moz-transform:rotate(360deg)}}@keyframes spin{100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}
#loader {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}

.loader-icon {
    -webkit-animation:spin 1s ease-in-out infinite;
    -moz-animation:spin 1s ease-in-out infinite;
    animation:spin 1s ease-in-out infinite;
    height:1em;
    width:1em;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-.5em;
    margin-top:-.5em;
    display:block;
    background:url('../images/loader.svg') center center;
    background-size:cover;
    line-height:1;
    text-align:center;
    font-size:2em;
    color:rgba(0,0,0,.75);
}

.blockMsg {
    border: 0!important;
}

/*==================================================================
    Order-details
==================================================================*/
.order-info {
    font-size: 14px;
    width: 100%;
    border: 1px solid #363636;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.order-info > .title {
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
    display: block;
    padding: 1em 0;
    margin: 0 -15px 20px;
    background-color: #363636;
}

.order-info .item .info-label {
    font-weight: bold;
}
.order-info .item .info-label a {
    cursor: pointer;
}
/*==================================================================
    Order-received
==================================================================*/
.total-price {
    padding-right: 5px!important;
}
.title-detail,
.text-or {
    text-align: center;
}

.title-detail {
    font-weight: bold;
    color: #333;
    margin: 0 0 1em!important;
}

.text-or {
    position: relative;
    font-size: 12px;
    margin: 30px 0;
}

.text-or::before,
.text-or::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    width: 10%;
    height: 1px;
    background-color: #333;
}

.text-or::before {
    left: 35%;
}

.text-or::after {
    right: 35%;
}

/*==================================================================
    Action Bar
==================================================================*/
.action-bar {
    text-align: center;
}

.btn-action-order {
    color: #363636;
    font-size: 14px;
    text-align: center;
    outline: inherit;
    cursor: pointer;
    padding: 8px 12px;
    box-shadow: none;
    border: 1px solid #363636;
    border-radius: 3px;
    -webkit-transition: background .15s linear, color .15s linear, box-shadow .10s ease;
    -moz-transition: background .15s linear, color .15s linear, box-shadow .10s ease;
    transition: background .15s linear, color .15s linear, box-shadow .10s ease;

    /* over write defaul style tag <a> woocommerce*/
    text-decoration: none!important;
    box-shadow: none!important;
}

    .btn-action-order:hover {
        color: #FFF!important;
        background-color: #363636;
        text-decoration: none!important;
        box-shadow: none!important;
    }

.btn-action-order + .btn-action-order {
    margin-left: 1em;
}
/*==================================================================
    Alert
==================================================================*/
.alert-danger {
    font-size: 12px;
    color: #FFF;
    background-color: #FF2A2A;
    border-color: #EF1818;
}

/*==================================================================
    Form Errors
==================================================================*/
.form-error {
    color: #FF2A2A;
}